@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poiret+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fffbff}

body, h4 {
    font-family: Poiret-One, sans-serif;
    font-weight: 400;
    margin: 1rem;
    color: #DC143C;
    letter-spacing: 1px;
}

p {
    margin-bottom: 1rem;
}
/*headings and logo*/ 

h1, h3 {
    font-family: Abril-Fatface sans-serif;
    letter-spacing: 4px;
    margin: auto;
    color: #DC143C;
}

#logo {
    font-size: 1.3rem;
}

/* navigation links */ 

#nav {
    font-size: .7rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    margin: 20px;
    list-style: none;
}

.logo-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.logo-nav a {
    text-decoration: none; 
}

#nav a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

#nav a:hover {
    border-bottom: 4px double #DC143C;
}

.active {
    border-bottom: 4px double #DC143C;
}

/* images*/

img {
    display: block;
    width: 100%;
    height: auto;
}

/* welcome text */

#welcome {
    font-size: .8rem;
    text-align: center;
    
}

.monthly {
    font-size: .9rem;
    text-align: center;
    margin: 20px;
}


/*footer*/

#footer { 
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}
