@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poiret+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fffbff}

body {
    font-family: Poiret-One, sans-serif;
    font-weight: 400;
    margin: auto;
    color: #DC143C;
}

/*headings and logo*/ 

h1, h2 {
    font-family: Abril-Fatface sans-serif;
    letter-spacing: 4px;
    margin: auto;
    color: #DC143C;
}

#logo {
    font-size: 1.3rem;
}

/* navigation links */ 

#nav {
    font-size: 100%;
    letter-spacing: 4px;
}

#nav #logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#nav li {
    
    list-style-type: none;
    margin-right: 40px

}

#nav a {
    text-decoration: none;
    color: inherit;

}

#nav a:hover {
    border-bottom: 4px double #DC143C;
}

.active {
    border-bottom: 4px double #DC143C;
}

/* hero image */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#hero-cocktail {
    height: 80%;
    width: 100%;
    background: url(../images/hero.cocktail.jpeg) no-repeat center center;
}