@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poiret+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fffbff}

body {
    font-family: Poiret-One, sans-serif;
    font-weight: 400;
    margin: auto;
    color: #DC143C;
}

/*headings and logo*/ 

h1, h2 {
    font-family: Abril-Fatface sans-serif;
    letter-spacing: 4px;
    margin: auto;
    color: #DC143C;
}

#logo {
    font-size: 1.3rem;
}



/* navigation links */ 

#nav {
    font-size: .8rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    margin: 20px;
    list-style: none;
}

.logo-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.logo-nav a {
    text-decoration: none; 
}



#nav a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

#nav a:hover {
    border-bottom: 4px double #DC143C;
}

.active {
    border-bottom: 4px double #DC143C;
}

/* hero image */

#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#hero-cocktail {
    height: 80%;
    width: 100%;
    background: url(../images/hero.cocktail.jpeg) no-repeat center center;
}